#main
  .item
    .header Статьи
    .contents
      %div
        %a.control{:href=>"#{admin_articles_path}"} Все (#{@articles[:total]})
      %div
        %a.control{:href=>"#{new_admin_article_path}"} Добавить
  .item
    .header Изображения
    .contents
      %div
        %a.control{:href=>"#{admin_images_path}"} Все (#{@images[:total]})
      %div
        %a.control{:href=>"#{new_admin_image_path}"} Добавить
