%table.layout_item
  %tr
    %td.top(colspan="3")
      - unless item.new_record?
        = move_side_link(item, :side=>:top, :direction => :dec)
        = move_side_link(item, :side=>:top, :direction => :inc) 
  %tr
    %td.left
      - unless item.new_record?
        = move_side_link(item, :side=>:left, :direction => :dec) 
        %br
        = move_side_link(item, :side=>:left, :direction => :inc)
    %td.center(title="#{h item.inspect}") 
      - form_for [:admin, item], :html => {:class => 'inline'} do |f|
        .field
          - item.content.build
          - item.content.each_with_index do |content,i|
            - fields_for "layout_item[content_attributes][#{i}]", content do |c|
              = c.hidden_field :id
              = c.collection_select(:article_id, @articles||=Article.all(:order => 'publication_date DESC'), :id, :title, { :include_blank => true })
              %span(title="#{h content.inspect}") *
              - unless item.new_record? or content.new_record?
                = link_to 'Удалить', admin_layout_item_content_path(item, content), :method => :delete
                - unless item.content.first == content
                  = link_to 'Вверх', move_admin_layout_item_content_path(item, content, :direction => :up), :method => :post
                - unless item.content[-2] == content
                  = link_to 'Вниз', move_admin_layout_item_content_path(item, content, :direction => :down), :method => :post
              %br
              %br
        .field
          = f.submit "Сохранить" 
        - unless item.new_record?
          = link_to 'Удалить', admin_layout_item_path(item), :class => 'control', :method => :delete
    %td.right
      - unless item.new_record?
        = move_side_link(item, :side=>:right, :direction => :inc) 
        %br
        = move_side_link(item, :side=>:right, :direction => :dec) 
  %tr
    %td.bottom(colspan="3")
      - unless item.new_record?
        = move_side_link(item, :side=>:bottom, :direction => :inc)
        = move_side_link(item, :side=>:bottom, :direction => :dec) 
