%table.layout_item
  %tr
    %td.top(colspan="3")
      = move_side_link(item, :side=>:top, :direction => :dec)
      = move_side_link(item, :side=>:top, :direction => :inc) 
  %tr
    %td.left
      = move_side_link(item, :side=>:left, :direction => :dec) 
      %br
      = move_side_link(item, :side=>:left, :direction => :inc)
    %td.center(title="#{h item.inspect}") 
      - item.content.each_with_index do |content,i|
        .content
          .title(title="#{h content.inspect}")
            = content.article.title
          .controls
            = link_to 'Удалить', admin_layout_item_content_path(item, content), :method => :delete
            - unless item.content.first == content
              = link_to 'Вверх', move_admin_layout_item_content_path(item, content, :direction => :up), |
                                :method => :post |
            - unless item.content.last == content
              = link_to 'Вниз', move_admin_layout_item_content_path(item, content, :direction => :down), |
                                :method => :post |
      
      .content(id="new-content-#{item.id}")
        = link_to_remote 'Добавить', :url => new_admin_layout_item_content_path(item), :update => "new-content-#{item.id}", :method => :get
      = link_to 'Удалить все', admin_layout_item_path(item), :class => 'control', :method => :delete
      -#:javascript
        / show_link = $('<a href="#" class="js">Добавить</a>').click(function(){
        /             $(this).hide()
        /             $('#{form_selector}').show()
        /           })
        /           $('').find('input[type="submit"]').remove()
        /           $('#{form_selector}').hide().after(show_link)
        /             .find('select').change(function(){
        /               $('#{form_selector}').submit()
        /             })
        
    %td.right
      = move_side_link(item, :side=>:right, :direction => :inc) 
      %br
      = move_side_link(item, :side=>:right, :direction => :dec) 
  %tr
    %td.bottom(colspan="3")
      = move_side_link(item, :side=>:bottom, :direction => :inc)
      = move_side_link(item, :side=>:bottom, :direction => :dec) 
