.list
  -# .new.item
    = render :partial => 'layout_item', :locals => {:item => @layout_item}
  
  -# for item in @layout_items
    .item
      = render :partial => 'layout_item', :locals => {:item => item}
      = link_to 'Удалить', admin_layout_item_path(item), :class => 'control', :method => :delete    
      
- LayoutItem::Places.each do |place|      
  %h3
    = I18n.t (place, :scope => 'layout_item_places')
  %table.layout_grid
    - LayoutItem.grid(place).each_with_index do |row, top|
      %tr
        - row.each_with_index do |cell, left|
          - if cell.kind_of? LayoutItem
            - content_tag 'td', td_size(cell, LayoutItem::ColumnCount[place]) do
              = render :partial => 'layout_item', :locals => {:item => cell}
          - elsif not cell.nil?
            %td(width="#{100/LayoutItem::ColumnCount[place]}%")
              = render :partial => 'layout_item', |
                :locals => { |
                  :item => LayoutItem.new( |
                    :place => place, |
                    :left => left, |
                    :top => top |
                    )} |  
    
      