<%- url = @article.new_record? ? new_polymorphic_path([:admin, @article]) : polymorphic_path([:admin, @article]) %>
<% form_for [:admin, @article], :url => url, :html => {:class => 'full-page'} do |f| %>
	<div class="field">
    <%= f.label :title %>
		<%= error_message_on @article, :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle %>
  </div>
  <div class="field">
  	<%= f.label :lead %>
	  <%= textile_editor :article, :lead, :rows => 8 -%>
  </div>
	<div class="field">
    <%= f.label :text %>
    <%= textile_editor :article, :text -%>
  </div>
  <div class="field">
    <%= f.submit "Сохранить" %>
		<% textile_editor_button 'Image', 
		  :onclick => "TextileEditor.insertText(this, '!img/'+prompt('Insert image.  File name:', '')+'!'); return false" 
		%>

		<%= textile_editor_initialize -%>
  </div>
<% end %>


