- url = @article.new_record? ? new_polymorphic_path([:admin, @article]) : polymorphic_path([:admin, @article]) 
- form_for [:admin, @article], :url => url, :html => {:class => 'full'} do |f| 
  .field
    = f.label :title 
    = error_message_on @article, :title 
    = f.text_field :title 
  .field
    = f.label :subtitle
    = f.text_field :subtitle 
  .field 
    = f.label :lead 
    %table.textile-editor  
      %td.editor
        = textile_editor :article, :lead, :rows => 8  
      %td.images.list     
  .field
    = f.label :text
    %table.textile-editor  
      %td.editor
        = textile_editor :article, :text 
      %td.images.list
  .field
    = f.submit "Сохранить"
  
  = textile_editor_initialize 
  
  - javascript_tag do 
    = remote_function :url => admin_images_path, :method => :get, :update => ".images" 
    


