- url = @article.new_record? ? new_polymorphic_path([:admin, @article]) : polymorphic_path([:admin, @article]) 
- form_for [:admin, @article], :url => url, :html => {:class => 'full'} do |f| 
  .field
    = f.label :title 
    = error_message_on @article, :title 
    = f.text_field :title 
  .field
    = f.label :subtitle
    = f.text_field :subtitle 
  .field 
    = f.label :lead 
    .textile-editor  
      = textile_editor :article, :lead, :rows => 8  
  .field
    = f.label "Изображения"
    .images
      .images-toolbar
        .button{:onclick=>"refresh_images(); return false;"}
          Обновить
        .button{:onclick=>"refresh_images(); return false;"}
          Добавить
        .button{:onclick=>"load_add_image_form(); $.blockUI({ message: $('#add-image.dialog') }); return false;"}
          Загрузить
      .images-list
  .field
    = f.label :text
    .textile-editor
      = textile_editor :article, :text 
  .field
    = f.submit "Сохранить"
  
  = textile_editor_initialize 
  
  
#add-image.dialog
  .header
    Добавить изображение 
    %a.control{:href=>"#", :onclick=>"$.unblockUI();return false;"}
      Закрыть
  .contents
    222
  
  :javascript
    function refresh_images() {
      #{remote_function :url => admin_article_images_path(@article), :method => :get, :update => ".images-list"}
      return false; 
    }
    function load_add_image_form() {
      #{remote_function :url => new_admin_image_path, :method => :get, :update => "#add-image.dialog.contents"}
      return false;
    }
    refresh_images();
