<div class="panel">
	<div class="item">
		<a href="<%=new_admin_article_path %>" class="to-form new">Добавить...</a>
	</div>
</div>
<div id="article-list" class="list">
	<div class="no-items">Статей нет</div>
<% for article in @articles %>
  <% revision = article.current_revision -%>
	<% revision = Revision.new if revision.nil? %>
  <div class="item article hovershow-container">
		<table>
			<td class="header">
				<div class="title">
					<a href="<%=edit_admin_article_path(article)%>"><%=h revision.title %></a>
				</div>
				<div class="subtitle"><%=h revision.subtitle %>&nbsp;</div>
			</td>
			<td class="controls">		

				<%= link_to 'Редактировать', edit_admin_article_path(article), :class => 'to-form' %>
				<%= link_to 'Правки', admin_article_revisions_path(article), :class => 'to-list' %>
		
				<%= link_to 'Ссылки', admin_article_links_path(article), :class => 'to-list' %>
		    
				<%= link_to 'Удалить', admin_article_path(article), :class => 'to-action',
							:confirm => 'Действительно удалить?', :method => :delete %>
			</td>
		</table>
	</div>
<% end %>
</div>



