<h1>Статьи</h1>

<table class="list">
<% for article in @articles %>
  <tr>
    <td>
				<h3><%=h article.title %></h3>
    		<p><%=h article.subtitle %></p>
		</td>
    <td>
			<strong><%= article.category.nil? ? '(нет рубрики)' : article.category.title %></strong>
			<% if not article.category.nil? %>	
				<% article_path = article_path(:category_link => article.category.link, :article_link => article.link)  -%>
				<p><%= link_to article_path, article_path, {:class => 'to_site'} %></p>
			<% end -%>
		</td>
    <td class="action">
			<%= link_to 'Редактировать', edit_admin_article_path(article), :class => 'action' %>
		</td>
    <td class="action">
			<%= link_to 'Удалить', admin_article_path(article), :class => 'action',
						:confirm => 'Действительно удалить?', :method => :delete %>
		</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новая статья', new_admin_article_path %>
