<h1>Статьи</h1>

<table class="list">
<% for article in @articles %>
  <% revision = article.current_revision -%>
	<% revision = Revision.new if revision.nil? %>
	<tr>
    <td>
				<h3><%=h revision.title %></h3>
    		<p><%=h revision.subtitle %></p>
		</td>
    <!--td>
			<strong><%= revision.category.nil? ? '(нет рубрики)' : revision.category.title %></strong>
		</td-->
    <td class="action">
			<%= link_to 'Редактировать', edit_admin_article_path(article), :class => 'action' %>
		</td>
		<td class="action">
			<%= link_to 'Правки', admin_article_revisions_path(article), :class => 'action' %>
		</td>
		<td class="action">
			<%= link_to 'Ссылки', admin_article_links_path(article), :class => 'action' %>
		</td>
    <td class="action">
			<%= link_to 'Удалить', admin_article_path(article), :class => 'action',
						:confirm => 'Действительно удалить?', :method => :delete %>
		</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новая статья', new_admin_article_path, :class => 'new' %>
