#articles.list
  .new.item
    = link_to 'Добавить', |
              new_polymorphic_path([:admin, @category, Article]), |
              :class => 'control' |
  - if @articles.empty?
    .empty.item Статей нет
  
  - for article in @articles 
    .item
      .header
        .title
          = link_to article.title, |
                    edit_polymorphic_path([:admin, @category, article]), |
                    :title => h(article.inspect) |
        .subtitle 
          = article.subtitle
        .date
          = Russian::localize(article.publication_date, :format => :long)
          |
          - if article.publicated and article.publication_date <= Time.now
            Опубликовано
          - elsif article.publicated and article.publication_date > Time.now
            Ожидает публикации
          - elsif not article.publicated and article.publication_date <= Time.now
            Не опубликовано
          - elsif not article.publicated and article.publication_date > Time.now
            Готовиться к публикации
        .links
          - if @category.nil? and not article.category.nil?
            = link_to article.category.title, admin_category_articles_path(article.category) 
          = link_to "Правки (#{article.revisions.size})",                      |
                    polymorphic_path([:admin, @category, article, :revisions]) |
          -          
          = link_to "Ссылки (#{article.links.size})", |
                    polymorphic_path([:admin, @category, article, :links]) |
      -# .controls
        %div
          = link_to 'Редактировать', |
                    edit_polymorphic_path([:admin, @category, article]), |
                    :class => 'control' |
          -          
          = link_to 'Удалить', |
                    polymorphic_path([:admin, @category, article]), |
                    :class => 'control', |
                    :confirm => 'Действительно удалить?', :method => :delete |
                      
= will_paginate @articles, :previous_label => "←", :next_label => "→", :per_page => 30
          
            