- page_title 'Статьи'
#articles.list
  .filters
    По тегам:
    - form_tag admin_articles_path, :method => "get" do
      = text_field_tag :with_tags, params[:with_tags]
      = submit_tag("Искать", :name => nil)

  .new.item
    = link_to 'Добавить', |
              new_polymorphic_path([:admin, @category, Article]), |
              :class => 'control' |
  - if @articles.empty?
    .empty.item Статей нет
  
  - for article in @articles 
    .item
      .header
        .title
          = link_to article.title, |
                    edit_polymorphic_path([:admin, @category, article]), |
                    :title => h(article.inspect) |
        .subtitle 
          = article.subtitle
        .date
          = article.publication_date.to_s(:long) #, :format => :long
          |
          = publication_status(article)
        .tags
          = article.tag_string
      .controls
        %div
          -#= link_to 'Редактировать', |
                    edit_polymorphic_path([:admin, @category, article]), |
                    :class => 'control' |
          - if current_user.is_admin?         
            = link_to 'Удалить', |
                      polymorphic_path([:admin, @category, article]), |
                      :class => 'control', |
                      :confirm => 'Действительно удалить?', :method => :delete |
                      
= will_paginate @articles, :previous_label => "←", :next_label => "→", :per_page => 30
          
            