#links.list
  .new.item
    %a.control{:href=>"#{new_polymorphic_path([:admin, @parent, :link])}"} Добавить
  - if @links.empty?
    .empty.item Рубрик нет
    
  - for link in @links
    .item
      .header
        .title(class="#{'canonical' if link.canonical?}")
          = link.text
      .controls
        - unless link.canonical?
          = link_to 'Сделать основной', |
                    polymorphic_path([:admin, @parent, link], |
                    :action => :make_canonical), |
                    :method => :post, :class => 'control' |
        -
        = link_to 'Удалить', |
                  polymorphic_path([:admin, @parent, link]), |
                  :class => 'control',  |
                  :confirm => 'Действительно удалить?', |
                  :method => :delete |             
