- form_for [:admin, resource], :html => {:class => 'full'} do |f|
  .field
    = f.label :name 
    = f.error_message_on :name
    = f.text_field :name 
  .field
    = f.label 'Скрывать на главной'
    = f.check_box :is_hidden 
  .field
    = f.submit "Сохранить" 
