- for category in categories
  .item
    %table
      %td.header
        .title
          = link_to category.title, edit_admin_category_path(category)
        .type
          = category.cat_type
      %td.controls
        %div
          = link_to "Ссылки (#{category.links.size})", admin_category_links_path(category), :class => 'control'
          = link_to "Статьи (#{category.articles.size})", admin_category_articles_path(category), :class => 'control'
        %div
          = link_to 'Редактировать', edit_admin_category_path(category), :class => 'control' 
          = link_to 'Удалить', admin_category_path(category), :class => 'control',  :confirm => 'Действительно удалить?', :method => :delete             
          = link_to 'Удалить со статьями', admin_category_path(category, :with_articles => true), :class => 'control', |
                          :confirm => 'Действительно удалить рубрику вместе со стаьями?', :method => :delete |