<h1>Редактирование рубрики</h1>

<% form_for [:admin, @category] do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title, "Заголовок" %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :link, "Ссылка" %><br />
    <%= f.text_field :link %>
  </p>
  <p>
    <%= f.submit "Сохранить" %>
  </p>
<% end %>

<%= link_to 'Назад', admin_categories_path %>
