- url = @category.new_record? ? new_polymorphic_path([:admin, @category]) : polymorphic_path([:admin, @category]) 
- form_for [:admin, @category], :url => url, :html => {:class => 'full'} do |f|
  .field
    = f.label :title 
    = f.error_message_on :title
    = f.text_field :title 
  .field
    = f.label :archived 
    = f.error_message_on :archived
    = f.check_box :archived
  .field
    = f.submit "Сохранить" 
