<h1>Рубрики</h1>

<table class="list">
<% for category in @categories -%>
  <tr>
		<td><h3><%=h category.title %></h3></td>
   	<td>
			<% category_path = category_path(:category_link => category.link) -%>
			<%= link_to category_path, category_path, {:class => 'to_site'} %>
		</td>
   	<td class="action">
   		<%= link_to 'Изменить', edit_admin_category_path(category), :class => 'action' %>
    </td>
		<td class="action">
			<%= link_to 'Удалить', admin_category_path(category), :class => 'action',
 						:confirm => 'Действительно удалить?', :method => :delete %>
   	</td>
  </tr>
<% end -%>
</table>
<br />

<%= link_to 'Новая рубрика', new_admin_category_path %>
