<h1>Рубрики</h1>

<table>
  <tr>
    <th>Заголовок</th>
    <th>Ссылка</th>
  </tr>

<% for category in @categories %>
  <tr>
    <td><%=h category.title %></td>
    <td><%=h category.link %></td>
    <td><%= link_to 'Редактировать', edit_admin_category_path(category) %></td>
    <td><%= link_to 'Удалить', admin_category_path(category), :confirm => 'Действительно удалить?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новая рубрика', new_admin_category_path %>
