- full ||= false
.article
  .info
    .date{:title => article.tag_string}
      = article.publication_date.strftime('%d.%m.%y');
  %h2.title
    = link_to_unless full, article.title_html, article_url(article.uri)
  %h2.subtitle
    = h(article.subtitle_html) unless article.subtitle_html.nil?
  - if full
    .text
      = article.text_html
    .tags
      Теги: 
      = tag_links(article)
  - else
    .lead
      = article.lead_html
  
