- full ||= false
.article
  .info
    .date= article.publication_date.strftime('%d.%m.%y');
    |
    .tags= tag_links(article)
  %h2.title
    = link_to_unless full, article.title_html, article_url(article.uri)
  %h2.subtitle
    = h(article.subtitle_html) unless article.subtitle_html.nil?
  - if full
    .text
      = article.text_html  
  - else
    .lead
      = article.lead_html
  
