.article  
  .date
    = article.publication_date.strftime('%d.%m.%y');
  - if defined? with_category
    .category
      –
      = article.category.title unless article.category.nil?
  %h2.title
    = link_to article.title, article_url(article.link)
  %h2.subtitle
    = article.subtitle unless article.subtitle.nil?
  .lead
    = article.lead_html
  - if defined? full
    .text
      = article.text_html  
  
