.article_with_lead
  
  .date
    = article.publication_date.strftime('%d.%m.%y');
  - if defined? with_category
    .category
      –
      = article.category.title unless article.category.nil?
  %h2
    = link_to article.title, article_url(article.link)
  .subtitle
    = article.subtitle unless article.subtitle.nil?
  = article.lead_html
