.article_with_lead
  .category
    = article.category.title unless article.category.nil?
  .date
    = article.publication_date.strftime('%d.%m.%y');
  %h2
    = link_to article.title, article_url(article.link)
  .subtitle
    = article.subtitle unless article.subtitle.nil?
  = RedCloth.new(article.lead).to_html 
  / = RedCloth.new(article.text).to_html 
