- full ||= false

.article{:class => (full ? 'full' : 'preview')}
  .info
    .date{:title => article.tag_string}
      = article.publication_date.strftime('%d.%m.%y');
    .comment_count
      = "|  #{article.comments_count}" unless full || article.comments_count==0
  %h2.title
    = link_to_unless full, h(article.title_html), article_url(article.uri)
  %h2.subtitle
    = link_to_unless(full, h(article.subtitle_html), article_url(article.uri)) unless article.subtitle_html.nil?
  - if full
    .text
      = article.text_html
    .tags
      Теги: 
      = tag_links(article)
  - else
    .lead
      = article.lead_html
  
