- page_title h(@article.title_html)
= render :partial => 'article', :locals => {:article  => @article, :full => true}

%h1 Оставить комментарий
- @comment ||= Comment.new
- form_for @comment, :url => post_comment_path(@article.uri, :anchor => "new_comment") do |f|
  .form_field
    = f.text_area :body
  .form_field
    Подпись:
    %br
    = f.text_field :author_name
  .form_field
    Защита от роботов:
    %br
    = show_simple_captcha :image_style => "simply_red"
  .form_field
    - @comment.errors.each do |field, error|
      .error= error
  .form_field
    = f.submit "Отправить", :name => nil
- unless @comments.empty?
  %h1 Комментарии 
.comments
  %a(name="comments")
  - @comments.each do |comment|
    .comment
      .date= comment.publication_date.strftime("%H:%M %d.%m.%y") unless comment.publication_date.nil?
      .author= h comment.author_name
      .body= simple_format(comment.body)

  = will_paginate @comments, :previous_label => "", :next_label => "", :params => {:anchor => "comments"}

- content_for :sidebar do
  %h1 Похожие статьи
  - @article.similar.each do |article|
    = render 'article', :article => article