- url = @image.new_record? ? new_polymorphic_path([:admin, @image]) : polymorphic_path([:admin, @image]) 
- form_for [:admin, @image], :url => url, :html => {:id=>"crop_form", :multipart => true} do |f|
  %input{:type=>"hidden", :name=>"xhr", :value=>"yes"}
  %img(src="#{image.preview_link}" id="image_to_crop" style="display:none;")
  .field
    = f.label :layout_type
    = f.enum_select :layout_type
  .field
    = f.hidden_field :crop_left 
    = f.hidden_field :crop_top
    = f.hidden_field :crop_right
    = f.hidden_field :crop_bottom

  .field
    = f.submit "Сохранить"

  :javascript
      $("#crop_form").ajaxForm({dataType: 'script' });
      $('#image_to_crop').load(function(){
        scalex = $('#image_to_crop').attr('width')/#{@image.true_width};
        scaley = $('#image_to_crop').attr('height')/#{@image.true_height};
        jcrop_opts = {
          onChange: showCoords,
          onSelect: showCoords,
          setSelect:[(#{@image.crop_left}*scalex),(#{@image.crop_top}*scaley), (#{@image.crop_right}*scalex), (#{@image.crop_bottom}*scaley)],
          trueSize: [#{@image.true_width}, #{@image.true_height}],
          aspectRatio: #{Image::ASPECT_RATIOS[@image.layout_type].to_i}
        }

        console.log([(#{@image.crop_left}*scalex),(#{@image.crop_top}*scaley), (#{@image.crop_right}*scalex), (#{@image.crop_bottom}*scaley)])

        ratios = #{Image::ASPECT_RATIOS.to_json}


        jcrop(jcrop_opts);
      
      });
      
   
    
    
    $('#image_layout_type').change(function(){
      jcrop_opts.aspectRatio = ratios[this.value];
      jcrop(jcrop_opts);
      
    });
    
    
    
    function jcrop(jcrop_opts)
    {
      $('#crop').remove();
      $('.jcrop-holder').remove();
      $('#image_to_crop').clone().attr('id','crop').insertAfter('#image_to_crop').show().Jcrop(jcrop_opts);
    }
   
    
    
    function showCoords(c)
    {
      $('#image_crop_left').val(c.x);
      $('#image_crop_top').val(c.y);
      $('#image_crop_right').val(c.x2);
      $('#image_crop_bottom').val(c.y2);
    };
    
    
    //jQuery("#upload_form").unbind('submit');
