.item(id="img_#{image.id}")
  = image_tag image.thumb_link #, :title =>h(image.inspect)
  .title
    = image.title 
  .type
    = image.filename
    = image.layout_type
  = link_to_remote "Обрезать", |
                     :url => crop_form_admin_image_path(image), |
                     :method => :get |
  = link_to_function("Вставить", "TextileEditor.insertText({canvas:$('textarea[focused]').get(0)}, '!'+'#{image.filename}'+'!');" ) 
