#images.list
  .new.item
    %a.control{:href=>"#{new_admin_image_path}"} Добавить
  - if @images.empty?
    .empty.item Изображений нет

  - for image in @images 
    .item
      %table
        %td.thumb
          = image_tag thumb_admin_image_path(image)
        %td.header
          .title
            = link_to image.title, edit_admin_image_path(image)
          .subtitle
            %div
              = image.img_type
              |
              = image.link
              |
              = image.filename
            %div
              - for revision in image.revisions
                = revision.title
                = revision.id
                ;
        %td.controls
          = link_to 'Редактировать', edit_admin_image_path(image), :class => 'control'
          = link_to 'Удалить', admin_image_path(image), :class => 'control', :confirm => 'Действительно удалить?', :method => :delete
= will_paginate @images, :previous_label => "←", :next_label => "→", :per_page => 30