!!! Transitional
%html
  %head
    %meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    %title Полит-грамота
    = stylesheet_link_tag 'site', 'overlay'
  %body
    #overlay-container
      %table
        %td 1
        %td 2
        %td 3
        %td 4
        %td 5
    #container
      #footer-wrapper
        %table#header
          %tr
            %td#logo(rowspan)
              %a(href="/" title="На главную страницу")
                %img(src="/images/logo_v3_site.png")
            %td#quote
              - quote = Quote.find_random(DateTime.now.strftime("%Y%m%d"))
              .text
                = "«#{quote.text}»" unless quote.nil?
              .author
                = quote.author unless quote.nil?
        #top-navigation-inline
          - for category in Category.find(:all, :conditions => {:archived => false}) #, :conditions=>{:cat_type=>'normal'})
            - if not current_page? category_url(category.link)
              = link_to category.title, category_url(category.link)
            - else
              %span.current< 
                = category.title
        %table#content
          - case params[:action] 
            - when 'main'
              %td.main
                = yield
            - else
              %td.mainbar
                = yield
              %td.sidebar
                - for category in Category.find(:all, :conditions=>{:cat_type=>'special'})
                  - next if category.most_recent_article.nil?
                  .side-article
                    = render :partial => "article", :object => category.most_recent_article, :locals => { :with_category => true}  
        #footer-push
      #footer
        %table
          %td#copyright
            %p © «Полит-грамота», 2007—#{Date.today.year}  
            %p 
              Мнение редакции сайта может не совпадать с мнением авторов статей, опубликованных на сайте. 
              %br
              При использовании материалов ссылка на ресурс обязательна.
            %p 
              Почта: 
              %a(href='mailto:mail&#64;polit-gramota.ru') mail&#64;polit-gramota.ru
          
      
              
