!!! Transitional
%html
  %head
    %meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    %title 
      = yield :title
      Полит-грамота
    = stylesheet_link_tag 'site'
    = auto_discovery_link_tag :rss, feed_url
  %body
    #container
      #footer-wrapper
        %table#header
          %tr
            %td#logo(rowspan)
              %a(href="/" title="На главную страницу")
                = image_tag 'logo_v4.png', :title => 'Полит-грамота – молодежный медиа проект'
            %td#tag-cloud
              - tag_cloud 0.6..1.7 do |tag, size| 
                = link_to tag.name, tag_url(tag.uri), :style => "font-size: #{size}em"
        %table#content
          - case params[:action] 
            - when 'main'
              %td.main
                = yield
            - else
              %td.mainbar
                = yield
              %td.sidebar
                = render_grid('sidebar', 0.9..1)  
                = yield :sidebar
        #footer-push
      #footer
        #footer-border
        %table
          %td#copyright
            %p © «Полит-грамота», 2007—#{Date.today.year}  
            %p 
              Позиция редакции сайта может не совпадать с мнением авторов опубликованных статей.
              %br
              При использовании материалов ссылка на ресурс обязательна.
            %p 
              Почта: 
              %a(href='mailto:mail&#64;polit-gramota.ru') mail&#64;polit-gramota.ru
            %td#banners
              %table
                %td 
                  %a(href="http://rus.jf.pu.ru/")
                    %img(src="/images/banner_jf.png")
                %td 
                  %a(href="http://obmen.org/")
                    %img(src="/images/banner_nro.png")
            
          
      
              
