!!! Transitional
%html
  %head
    %meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    %title Полит-грамота
    = stylesheet_link_tag 'site'
  %body
    #container
      #footer-wrapper
        %table#header
          %tr
            %td#logo(rowspan)
              %a(href="/" title="На главную страницу")
                %img(src="/images/logo_v3_site.png")
            %td#quote
              - quote = Quote.find_random(DateTime.now.strftime("%Y%m%d"))
              .text
                = "«#{quote.text}»" unless quote.nil?
              .author
                = quote.author unless quote.nil?
        #top-navigation-inline
          - for category in Category.top_menu
            - if not current_page? category_url(category.link)
              = link_to category.title, category_url(category.link)
            - else
              %span.current< 
                = category.title
          - if not current_page? archive_url
            = link_to "Архив", archive_url
          - else
            %span.current< 
              = "Архив"                
        %table#content
          - case params[:action] 
            - when 'main'
              %td.main
                = yield
            - else
              %td.mainbar
                = yield
              %td.sidebar
                = render_grid('sidebar')  
        #footer-push
      #footer
        #footer-border
        %table
          %td#copyright
            %p © «Полит-грамота», 2007—#{Date.today.year}  
            %p 
              Позиция редакции сайта может не совпадать с мнением авторов опубликованных статей.
              %br
              При использовании материалов ссылка на ресурс обязательна.
            %p 
              Почта: 
              %a(href='mailto:mail&#64;polit-gramota.ru') mail&#64;polit-gramota.ru
            %td#banners
              %table
                %td 
                  %a(href="http://rus.jf.pu.ru/")
                    %img(src="/images/banner_jf.png")
                %td 
                  %a(href="http://obmen.org/")
                    %img(src="/images/banner_nro.png")
            
          
      
              
