!!! 5
%html
  %head
    %meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    %title 
      = yield :title
      Полит-грамота
    = stylesheet_link_tag 'site'
    = auto_discovery_link_tag :rss, feed_url
  %body
    #container
      #footer-wrapper
        %table#header
          %tr
            %td#logo
              %a(href="/" title="На главную страницу")
                = image_tag 'logo_v4.png', :title => 'Полит-грамота – молодежный медиапроект'
                %span.subtitle молодежный медиапроект
            %td(style="width: 665px;")
              #manual-tag-cloud
                - manual_tag_cloud do |tag, css_class, x, y|
                  - style = "top: #{y}%; left: #{x}%;"
                  - css_class += ' current' if current_page? tag_path(tag.uri)
                  = link_to(tag.name, tag_path(tag.uri), :class => css_class, :style => style)
                = link_to "Все теги", all_tags_path, :class => "all_tags"
          %tr
            %td#tag-line(colspan="2" style="width:auto;")
              %table
                %td
                  - tag_line do |tag|
                    - css_class = ' current' if current_page? tag_path(tag.uri)
                    = link_to "#{tag.name}", tag_path(tag.uri), :class => css_class
                %td
                  %table#misc-nav
                    %td= render 'search'
                    - css_class = ' current' if current_page? "/articles/o-proekte"
                    %td.link= link_to "О проекте", "/articles/o-proekte", :class => css_class

        %table#content
          - case params[:action] 
            - when 'main'
              %td.main
                = yield
            - else
              %td.mainbar
                = yield
              %td.sidebar
                = render_grid('sidebar', 0.9..1)  
                = yield :sidebar
        #footer-push
      #footer
        #footer-border
        %table
          %td#copyright
            %p © «Полит-грамота», 2007&ndash;#{Date.today.year}  
            %p 
              Позиция редакции сайта может не совпадать с мнением авторов опубликованных статей.
              %br
              При использовании материалов ссылка на ресурс обязательна.
            %p 
              Почта: 
              %a(href='mailto:mail&#64;polit-gramota.ru') mail&#64;polit-gramota.ru
            %p
              %a(href="http://vkontakte.ru/club127909") Группа ВКонтакте
          %td#banners
            %table
              %td 
                %a(href="http://rus.jf.pu.ru/")
                  %img(src="/images/banner_jf.png")
              %td 
                %a(href="http://obmen.org/")
                  %img(src="/images/banner_nro.png")
          
          
      
            
